.message-success {
  z-index: 1000px;
  position: fixed;
  bottom: 15px;
  left: 5px;
  width: 350px;
  padding: 15px;
  background: rgba(41, 124, 50, 0.8);
  color: #fff;
  border-radius: 5px;
}
.show {
  display: block;
}
.hidden {
  display: none;
}
