// adjust variables here //

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

$font-size: 18px;
$font-family: 'Source Sans Pro', sans-serif;
$primary: #269f61;
$secondary: #00bd9d;
$background: #eee;
$text-color: #666;
$shade-1: #ded;
$dark: #444;

@import 'books';
@import 'elements';
@import 'list';
@import 'messages';
@import 'search';
